@media screen and (max-width: 767px) {
    .wrapper {
        width: 100%;

        .header {
            flex-direction: column;

            .add_note_block {
                margin-bottom: 20px;

                .custom_input {
                    .confirm_btn {
                        margin: 0;
                    }
                }
            }

            .custom_input {
                display: flex;
                justify-content: space-between;

                input {
                    width: 300px;
                }

                .confirm_btn {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    .wrapper {
        width: 100%;
        top: 0;
        height: 100%;
        border-radius: 0;

        .header {
            flex-direction: column;
            border-radius: 0;

            .add_note_block {
                margin-bottom: 20px;
            }

            .custom_input {
                display: flex;
                justify-content: space-between;

                input {
                    width: 200px;
                    height: 40px;
                }

                .confirm_btn {
                    margin: 0;
                    height: 40px;
                }
            }
        }

        .note_list {
            border-radius: 0;
        }
    }
}