@font-face {
    font-family: 'Open Sans';
    src: url(../css/fonts/OpenSans-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}

html,
body,
h1,
html h2,
h3,
h4,
h5,
h6,
html p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.wrapper {
    width: 768px;
    margin: 0px 20px;
    padding: 20px;
    display: flex;
    margin: auto;
    background: red;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .custom_input {
            display: flex;

            input {
                width: 200px;
                height: 40px;
                margin-right: 15px;
                outline: none;
            }

            button {
                width: 140px;
                border-radius: 10px;
                height: 40px;
                background-color: cadetblue;

                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(135, 174, 176);
                }
            }
        }
    }

    .note_list {
        width: 100%;
        height: 500px;
        overflow: overlay;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .note_item {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            position: relative;

            .note_text {
                display: flex;

                p {

                    span {
                        font-weight: bold;
                    }
                }

            }
        }
    }
}